<h1 class="text-center">AntHill! chat:</h1>

<!--<div class="row">-->
<div class="data">
  <div id="messages" class="center-block  block">
    <%= render @messages %>
  </div>
  <!--<div id="phones">-->
    <!--<%= render @phones %>-->
  <!--</div>-->
<!--</div>-->
<br>
<div class="center-block form-group block">
  <form class="text-center" role="form">
    <input id="msg" class="form-control" type="text" data-behavior="room_speaker">
    <button class="btn w20 btn-success btn-md" id="send">SEND</button>
  </form>
</div>
</div>



