<h1 class="text-center"><%= "#{@worker.surname} #{@worker.name}" %></h1>
<p class="text-center text-success" id="notice"><%= notice %></p>

<div class="container">
  <p>
    <span class="glyphicon glyphicon-phone"></span>
    Phone number:
    <%= @worker.phone %>
  </p>
  <%= link_to 'Back', workers_path, class: 'btn btn-default' %>
</div>