%html
  %head
    %title REVIEW PAGE
  %body
    %header.navbar
      .container
        .navbar-header
          %a{:href=>'/'} CHATAPP
        %nav{:role=>'navigation', :class=>'collapse navbar-collapse bs-navbar-collapse'}
          .row
            .col-md-10
              %ul.nav{:class=>'navbar-nav'}
                %li
                  %a{:href=>'/workers'} WORKERS
                %li
                  %a{:href=>'/reviews'} REVIEWS